

body {
  background-color: purple;  /* changin background color to purple */
}
h1 {
  color: lawngreen;
  text-align: center; /* changin text color and alignment to green and center */
  font-size: 60px
}

  .tenor-gif-embed { 
    margin-left: auto;
    margin-right: auto;
  }
button{
    width: 120px;
    height:40px;
}