<!-- templates/index.html-->
<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% block content %}
<h1> {{ title }}
  <title>GIF Search!</title>
<form action="/">
    <input type="search" placeholder="Search GIFs!" name="search"><button type="submit">Search</button>
</form>
<div id="displaying">
  {% if gifDisplay %} <!-- conditional to represent True -->
    {% for gif in gifDisplay %} <!-- for loop executed to display gifs -->
        {% include 'gif.html' %}<br /><br /> <!-- html file to display the gifs -->
    {% endfor %}

  {% else %} <!-- if there are no gifs this text will show-->
  NO GIF TO DISPLAY
  {% endif %}

</div>
{% endblock %}
